.example-container {
    width: 100%;
    height: 100%;
   
  }
  .sidebar{
    /* background-image: url(background.jpg); */
    width: 350px;
    box-shadow: 6px 25px 35px rgb(163, 102, 153);
    background: -webkit-linear-gradient(left top, rgb(96, 53, 129),rgb(113, 28, 97)); 
            background: -o-linear-gradient(bottom right,   rgb(96, 53, 129),rgb(113, 28, 97)); 
            background: -moz-linear-gradient(bottom right,   rgb(96, 53, 129),rgb(113, 28, 97));
            background: linear-gradient(to bottom right, rgb(96, 53, 129),rgb(113, 28, 97))  ; 

  }
  .side-link{
    text-decoration: none;
    color: #9e3671;
    font-size: 30px;
    margin: 30px 20px  30px 40px;
   display: inline-block;
    
    
  }
 
  