<nav mat-tab-nav-bar class="tagGroup">
  <div class="nav-wrapper">
    <div class="nav-left-menu">
      <a mat-tab-link routerLink="general" routerLinkActive="active-link">
        <span>Charts</span>
      </a>
      <a
        *ngFor="let dashboard of dashboards$ | async"
        mat-tab-link
        [routerLink]="'dashboard/' + dashboard.id"
        routerLinkActive="active-link"
      >
        <span>{{ dashboard.name }}</span>
      </a>
    </div>
    <a
      *ngIf="!(isLoggedIn$ | async); else loggedInTemplate"
      mat-tab-link
      routerLink="/login"
      routerLinkActive="active-link"
    >
      <span>Login</span>
    </a>

    <ng-template #loggedInTemplate>
      <div>
        <a mat-tab-link routerLink="/admin" routerLinkActive="active-link">
          <span>Admin</span>
        </a>
        <a mat-tab-link routerLinkActive="active-link" (click)="exit()">
          <span>Logout</span>
        </a>
      </div>
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>
