<nav mat-tab-nav-bar class="tagGroup">
  <div class="nav-wrapper">
    <div class="nav-left-menu">
      <a mat-tab-link routerLink="general" routerLinkActive="active-link">
        <span>Charts</span>
      </a>
      <a mat-tab-link routerLink="line" routerLinkActive="active-link">
        <span>Line</span>
      </a>
      <a mat-tab-link routerLink="pie" routerLinkActive="active-link">
        <span>Pie</span>
      </a>
      <a mat-tab-link routerLink="bar" routerLinkActive="active-link">
        <span>Bar</span>
      </a>
    </div>
    <a mat-tab-link routerLink="/login" routerLinkActive="active-link">
      <span>Login</span>
    </a>
    <a mat-tab-link routerLink="/admin" routerLinkActive="active-link">
      <span>Admin</span>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
