
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Charts" >
    <div class="container my-5">
      <div class="row">
        <!-- Filters start -->
        <div class="col-md-3 align-self-center">
          <app-country-filter></app-country-filter>
          <app-date-filter></app-date-filter>
        </div> 
        <!-- Filters end -->
        <!-- Line chart start -->
        <div class="col-md-3">
          <app-line-chart></app-line-chart>
        </div>
        <!-- line chart end -->
        <!-- pie chart start -->
        <div class="col-md-3">
          <app-pie-chart></app-pie-chart>
        </div>
        <!-- pie chart end -->
        <!-- bar chart start -->
        <div class="col-md-3">
          <app-bar-chart></app-bar-chart>
        </div>
        <!-- bar chart end -->
      </div>
    </div>
    
  </mat-tab>
  <mat-tab label="Line" > 
    <app-line></app-line>
  </mat-tab>

  <mat-tab label="Pie" >
   <app-pie></app-pie>
  </mat-tab>
  
  <mat-tab label="Bar" > 
    <app-bar></app-bar>
  </mat-tab>
  
</mat-tab-group>


            