
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Charts">
    <div class="container my-3">
      <div class="row">
        <!-- Filters start -->
        <div class="col-md-3 align-self-center">
          <app-country-filter></app-country-filter>
          <app-date-filter></app-date-filter>
        </div> 
        <!-- Filters end -->
        <!-- Line chart start -->
        <div class="col-md-3">
          <app-line></app-line>
        </div>
        <!-- line chart end -->
        <!-- pie chart start -->
        <div class="col-md-3">
          <app-pie></app-pie>
        </div>
        <!-- pie chart end -->
        <!-- bar chart start -->
        <div class="col-md-3">
          <app-bar></app-bar>
        </div>
        <!-- bar chart end -->
      </div>
    </div>
    
  </mat-tab>
  <mat-tab label="Line"> 
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-self-center">
          <app-country-filter></app-country-filter>
          <app-date-filter></app-date-filter>
        </div>
        <div class="col-md-8">
          <app-line></app-line>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Pie">
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-self-center">
          <app-country-filter></app-country-filter>
          <app-date-filter></app-date-filter>
        </div>
        <div class="col-md-8">
          <app-pie></app-pie>
        </div>
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Bar"> 
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-self-center">
          <app-country-filter></app-country-filter>
          <app-date-filter></app-date-filter>
        </div>
        <div class="col-md-8">
          <app-bar></app-bar>
        </div>
      </div>
    </div>
  </mat-tab>
  
</mat-tab-group>


            