.main-div{
    background-image: url(background.jpg);
    background-size:cover;
    
}
.main-div mat-card{
    padding: 30px;
    margin: 10px;
   
}
.login-form{
    padding: 20px;
}
.login-button{
    max-width: 550px;
    margin-top: 8px;
    margin-bottom: 8px;
    color:rgb(75, 76, 77);
    background: -webkit-linear-gradient(left top, rgb(144, 0, 255), rgb(207, 39, 176)); 
            background: -o-linear-gradient(bottom right,  rgb(144, 0, 255), rgb(207, 39, 176)); 
            background: -moz-linear-gradient(bottom right,  rgb(144, 0, 255), rgb(207, 39, 176));
            background: linear-gradient(to bottom right,  rgb(144, 0, 255), rgb(207, 39, 176)); 

}
.login-toolbar{
    color: rgb(61, 4, 58);
    max-width: 508px;
    margin-left: 20px;
    justify-content: center;
}