<div class="container my-5">
  <div class="row">
    <div class="col-md-3 align-self-center">
      <app-country-filter
        (ChildEvent)="countrySelected($event)"
        [value]="filter.country"
      ></app-country-filter>
      <app-date-filter
        (DateChildEvent)="dateSelected($event)"
        [value]="{ start: filter.start, end: filter.end }"
      ></app-date-filter>
    </div>
    <div class="col-md-3">
      <app-line-chart [newData]="newData"></app-line-chart>
    </div>
    <div class="col-md-3">
      <app-pie-chart [newPieData]="newPieData"></app-pie-chart>
    </div>
    <div class="col-md-3">
      <app-bar-chart [newData]="newData"></app-bar-chart>
    </div>
  </div>
</div>
