/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.admin-btn{
    background-color: #8b207c;
    color: #efefef;
}

.enf-btn {
    background-color: #8b207c;
    color: #efefef;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}