
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="selectedDashboard.name" />
</mat-form-field>

<div class="drag-drop-container">
  <div class="example-container">
    <h2>Chart Types</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="chartTypes"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of chartTypes" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Charts</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="selectedDashboard.charts"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of selectedDashboard.charts" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: flex-end; width:100%">
  <button mat-raised-button class="enf-btn" (click)="save()" mat-dialog-close>Save Changes</button>
</div>

